body {
	background-color: black;
	font-size: 2.7vh;
}

#login-panel {
	background: var(--secondary-background-color);
	width: 40%;
	height: 100%;
	float: left;
	clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
	text-align: center;
	position: relative;
}

#login-panel #center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}

#login-panel #center h1 {
	margin-top: 0;
	padding: 0;
	display: block;
}

#login-panel #center input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	font-size: 1.8vh;
}

#divider-panel {
	z-index: -1;
	position: absolute;
	background: #c60002;
	width: 40%;
	height: 100%;
	left: 2%;
	top: 0;
	clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);

}

#logo-panel {
	z-index: -2;
	position: relative;
	height: 100%;
	width: 60%;
	float: right;
	background-color: black;
}

#logo-panel img {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
