/*Dark Color Scheme*/
/*:root {
	--background-color: #121212;
	--secondary-background-color: #000000;
	--foreground-color: #1f1f1f;
	--specular-color: #bb86fc;
	--font-color: #e1e1e1;
	--secondary-font-color: #9c9c9c;

	--top-bar-color: var(--secondary-background-color);
	--top-bar-active-color: var(--background-color);
	--icon-button-background: #0000;
}*/

/*Discord Color Scheme*/
:root {
	--foreground-color: #36393f;
	--secondary-background-color: #2f3136;
	--background-color: #23272a;
	--specular-color: #56ccec;
	--font-color: #e1e1e1;
	--secondary-font-color: #9c9c9c;

	--top-bar-color: var(--secondary-background-color);
	--top-bar-active-color: var(--background-color);
	--icon-button-background: #0000;
}

html {
	font-family: sans-serif;
	color: var(--font-color);
}

a {
	color: var(--specular-color);
}

body {
	margin: 0;
	font-size: 2vh;
	background-color: var(--background-color);
}

button {
	background-color: var(--foreground-color);
	color: var(--font-color);
	border: none;
	border-radius: 4px;
	box-shadow: -2px 2px 3px black;
	font-size: 1.5vh;
}

.red-btn {
	color: red;
}

.blue-btn {
	color: blue;
}

#top-bar {
	height: 6%;
	background-color: var(--top-bar-color);
	margin: 0;
	margin-bottom: 10px;
	overflow: hidden;
	width: 100%;
}

#top-bar a {
	float: left;
	display: block;
	color: var(--secondary-font-color);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	height: 100%;
}

#top-bar a:hover {
	background-color: var(--top-bar-active-color);
	color: var(--font-color);
}

#top-bar a.active {
	background-color: var(--top-bar-active-color);
	color: var(--font-color);
}

#top-bar input[type=text] {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 11px;
	height: 60%;
	width: 25%;
	font-size: 1.5vh;
	color: var(--secondary-font-color);
}

#top-bar button {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 11px;
	margin-right: 16px;
	height: 60%;
	width: 6%;
	max-width: 6vh
}

#top-bar button.x {
	margin-right: 0;
	background-color: white;
	display: none;
	width: 2%;
}

#top-bar .login-status {
	color: var(--font-color);
	background-color: var(--top-bar-color);
	display: none;
}

button#not-logged-in.login-status {
	width: 7%;
	max-width: 7vh;
	display: inline-block;
}

#logged-in .dropdown {
	position: absolute;
	background-color: var(--foreground-color);
	right: 0;
	top: 6%;
	padding: 10px; 
	padding-right: 18px;
	border: 2px solid black;
}

#top-actions {
	width: 100%;
	margin: 0;
	padding: 0;
}

#top-actions button {
	margin-bottom: 5px;
	float: right;
	margin-right: 7px;
	font-size: 2vh;
}

#top-actions .scan-code {
	background-color: #0000;
	border: none;
	height: 3vh;
}

#top-actions .delete-button {
	background-color: red;
	color: var(--font-color);
	border: 2px solid red;
	border-radius: 3px;
}

#top-actions .edit-button {
	background-color: blue;
	color: var(--font-color);
	border: 2px solid blue;
	border-radius: 3px;
}
