#path-text {
	width: 80%;
	margin: 0 auto;
}

#equipment-container {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 7%;
	margin-bottom: 5%;
	width: 90%;
}

.item-entry {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 9fr;
	padding: 10px;
}

.item-entry img {
	max-width: 30vw;
	max-height: 30vh;
}

.item-entry .description {
	display: inline-block;
	padding-left: 10px;
}

.item-entry .actions {
	position: absolute;
	bottom: 7px;
	right: 0;
}

.item-entry .actions button {
	margin-right: 10px;
	background-color: var(--icon-button-background);
	height: 2rem;
	border: none;
}

.new-item {
	margin-left: 10%;
}
