#storage-container {
	width: 88%;
	margin-top : 6%;
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 5%;
}

ul, #room_list {
	list-style-type: none;
}

#room_list li {
	margin: 8px;
}

#room_list {
	margin: 0;
	padding: 0;
}

.caret {
	cursor: pointer;
	user-select: none; /* Prevent text selection */
}

.caret::before {
	content: "‣";
	color: var(--font-color);
	display: inline-block;
	margin-right: 6px;
}

.caret-down::before {
	transform: rotate(90deg);
}

.edit_btn, .delete_btn {
	padding: 5px;
	display: none;
}

.nested {
	display: none;
}

.active {
	display: block;
}
