#dialog-container {
	visibility: hidden;
	position: fixed;
	background-color: var(--background-color);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.dialog {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	background-color: var(--background-color);
}

.dialog input {
	margin-bottom: 15px;
}

.dialog button {
	margin-bottom: 15px;
}

.dialog img {
	max-width: 20vw;
	max-height: 20vh;
}
